{{template "public/header.html" .}}
<body>
	<div class="subnav">
		<div class="content-menu ib-a blue line-x">
			<a href='javascript:;' class="on"><em>角色管理</em></a><span>|</span><a
				href='/Role/add/'><em>添加角色</em></a>
		</div>
	</div>
	<div class="pad_10">
		<div class="table-list">
			<table width="100%" cellspacing="0">
				<thead>
					<tr>
						<th width="5%">ID</th>
						<th width="10%" align="left">用户名</th>
						<th width="10%" align="left">所属角色</th>
						<th width="15%" align="left">E-mail</th>
						<th width="5%">语言</th>
						<th width="10%">真实姓名</th>
						<th width="10%" align="left">最后登录IP</th>
						<th width="10%" align="left">最后登录时间</th>
						<th width="15%">管理操作</th>
					</tr>
				</thead>
				<tbody>
					{{if .admin_list}}
						{{range .admin_list}}
						<tr>
							<td align="center">{{.Id}}</td>
							<td>{{.Username}}</td>
							<td>{{.Role.Rolename}}</td>
							<td>{{.Email}}</td>
							<td>{{if eq .Lang "zh-cn"}}简体中文{{else}}英语{{end}}</td>
							<td align="center">{{.Realname}}</td>
							<td>{{.Lastloginip}}</td>
							<td>{{.Lastlogintime}}</td>
							<td class="text-c">
								<a href="/Admin/edit/{{.Id}}/">修改</a> | 
								{{if eq .Id 1}}
									<font color="#cccccc">删除</font>
								{{else}}
									<a href="javascript:;" onclick="delete_admin({{.Id}})">删除</a>
								{{end}}
							</td>
						</tr>
						{{end}}
					{{end}}
				</tbody>
			</table>
			<div id="pages"></div>
		</div>
	</div>
</body>
{{template "public/footer.html" .}}