<!-- 侧边栏 -->
<!-- 子导航 -->
        
<div class="subnav" id="subnav">
 	<h3><i class="icon "></i>个人中心</h3>
 	<ul class="side-sub-menu ">
 		<li class="current"><a href="/index.php?s=/admin/article/mydocument.html" class="item">我的文档</a></li>
 		<li class=""><a href="/index.php?s=/admin/article/draftbox.html" class="item">草稿箱</a></li> 	
 	</ul>

    <!-- 子导航 -->
    <h3><i class="icon icon-fold"></i>博客</h3>
    <ul class="side-sub-menu subnav-off">
        <li><a href="/index.php?s=/admin/article/index/cate_id/2.html" class="item">默认分类</a></li>
    </ul>
    
    <h3><i class="icon icon-fold"></i>讨论</h3>
    <ul class="side-sub-menu subnav-off">
        <li><a href="/index.php?s=/admin/article/index/cate_id/4.html" class="item">默认分类</a></li>
    </ul>

	<h3><em class="recycle"></em><a href="/index.php?s=/admin/article/recycle.html">回收站</a></h3>
</div>

<script>
    $(function(){
        $(".side-sub-menu li").hover(function(){
            $(this).addClass("hover");
        },function(){
            $(this).removeClass("hover");
        });
    })
</script>
<!-- 侧边栏 -->