<div class="columns-mod">
    <div class="hd cf"><h5>系统信息</h5><div class="title-opt"></div></div>
        <div class="bd">
                <div class="sys-info">
                  <table>
                    <tbody>
                        <tr>
                            <th>GoCMS版本</th>
                            <td>0.1</td>
                        </tr>
                        <tr>
                            <th>服务器操作系统</th>
                            <td>{{.GO_OS}}</td>
                        </tr>
                        <tr>
                            <th>Go框架</th>
                            <td>Revel</td>
                        </tr>
                        <tr>
                            <th>运行环境</th>
                            <td>{{.SERVER_SOFTWARE}}</td>
                        </tr>
                        <tr>
                            <th>MYSQL版本</th>
                            <td>{{.MYSQL_VERSION}}</td>
                        </tr>
                        <tr>
                            <th>上传限制</th>
                            <td>32M</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>